# Специфичные файлы Visual Studio (Кэш и настройки)
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Папки сборки и компиляции (Выходные файлы)
Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/

# Временные файлы компилятора C++
*.obj
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.gch
*.pch

# Базы данных кода (IntelliSense и навигация)
*.ncb
*.sdf
*.opensdf
*.db
*.opendb
.vs/
.vs
.vs\
